<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1 class="text-center">Patient</h1>
    <div class="row">
        <div class="col-md-4">
            <a href="/"  class="btn btn-primary btn-sm">List Patients</a>
        </div>
        <ul class="col-md-6 list-group">
               <li th:text="'FirstName: '+${patient.firstName}" class="list-group-item"></li>
               <li th:text="'LastName: '+${patient.lastName}" class="list-group-item"></li>
               <li th:text="'Sex: '+${patient.sex}" class="list-group-item"></li>
               <li th:text="'Date of birth: '+${patient.dob}" class="list-group-item"></li>
               <li th:text="'Address: '+${patient.address}" class="list-group-item"></li>
               <li th:text="'Phone: '+${patient.phone}" class="list-group-item"></li>
               <li th:text="'Report: '+${report}" class="list-group-item"></li>
        </ul>
    </div>

    <h1 class="text-center">Notes</h1>
    <div class="row">
        <div class="col-md-4">
            <a th:href="@{/notes/add-notes/{id}(id=${patient.id})}"  class="btn btn-primary btn-sm">Add New</a>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="note : ${notes}">
                <td style="width: 10%" th:text="${note.id}"></td>
                <td th:text="${note.title}"></td>
                <td th:text="${note.content}"></td>
                <td th:text="${note.date}"></td>

                <td style="width: 300px" class="text-center">
                    <a th:href="@{/notes/update-notes/{id}(id=${note.id})}" class="btn btn-warning btn-sm">Edit</a>&nbsp;&nbsp;
                    <a th:href="@{/notes/delete-notes/{id}(id=${note.id})}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="../webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>